---
layout: page
title: "Top Discoveries"
---
<div style="text-align: center;">
  Check out my <a href="https://open.spotify.com/playlist/0yLPwlI1i2zVICE07Mh6aS?si=8cebc0af6c3a4988">top discoveries for 2026 </a> on Spotify.
  <br>
  Check out my <a href="https://open.spotify.com/playlist/6aFbqrir2BPbbI5dhNymsF?si=446d9cac9a394f04">top discoveries for 2025 </a> on Spotify.
</div>
{% for post in site.posts %}
  {% if post.top-discoveries %}
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <h2><a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %d, %Y" }}</h2>
    {% for item in post.top-discoveries %}
      {{ item.discovery }}
      <p>Genres: 
        {% assign sorted_genres = item.genres | sort %}
        {% for genre in sorted_genres %}
          <a href="/genres/{{ genre | slugify }}">{{ genre }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </p>
    {% endfor %}
  {% endif %}
{% endfor %}